n8n/workflows/meal-planning-weekly.json
{
  "name": "Weekly Meal Plan Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 0"
            }
          ]
        }
      },
      "id": "91f79534-0142-499f-a2b1-cc865545bd40",
      "name": "Schedule Trigger - Sunday 20:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate the target week (Monday to Sunday)\n// If today is Saturday or Sunday, use NEXT week\n// Otherwise, use CURRENT week\n\nconst now = new Date();\nconst today = now.getDay(); // 0=Sunday, 6=Saturday\n\nlet targetMonday;\n\nif (today === 0 || today === 6) {\n  // Weekend: get next Monday\n  const daysUntilNextMonday = today === 0 ? 1 : 2; // Sunday=1 day, Saturday=2 days\n  targetMonday = new Date(now);\n  targetMonday.setDate(now.getDate() + daysUntilNextMonday);\n} else {\n  // Weekday: get this week's Monday\n  const daysSinceMonday = today === 0 ? 6 : today - 1; // Sunday counts as 6 days after Monday\n  targetMonday = new Date(now);\n  targetMonday.setDate(now.getDate() - daysSinceMonday);\n}\n\ntargetMonday.setHours(0, 0, 0, 0);\n\nconst targetSunday = new Date(targetMonday);\ntargetSunday.setDate(targetMonday.getDate() + 6);\ntargetSunday.setHours(23, 59, 59, 999);\n\nconst formatDate = (date) => date.toISOString().split('T')[0];\n\nreturn { \n  json: { \n    week_start: formatDate(targetMonday), \n    week_end: formatDate(targetSunday),\n    week_start_timestamp: targetMonday.toISOString(),\n    week_end_timestamp: targetSunday.toISOString()\n  } \n};"
      },
      "id": "get-week-dates",
      "name": "Calculate Week Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        496
      ]
    },
    {
      "parameters": {
        "url": "=https://intervals.icu/api/v1/athlete/i55249/events?oldest={{ $json.week_start }}&newest={{ $json.week_end }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YOUR_BASE64_KEY"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "autoDetect"
            }
          }
        }
      },
      "id": "fetch-training-events",
      "name": "Fetch Training Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        496
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.item.json;\nconst allEvents = inputData.events || [];\nconst events = Array.isArray(allEvents) ? allEvents.filter(event => event && event.category === 'WORKOUT' && event.id) : [];\n\nconst noUpdatesItem = () => ({ json: { has_updates: false, events_checked: events.length, message: 'No training updates required' } });\n\nif (events.length === 0) { return [noUpdatesItem()]; }\n\nconst getDayOfWeek = (dateStr) => new Date(dateStr).getDay();\nconst setTime = (dateStr, hours, minutes = 0) => { \n  const datePart = dateStr.split('T')[0];\n  const hh = String(hours).padStart(2, '0');\n  const mm = String(minutes).padStart(2, '0');\n  return `${datePart}T${hh}:${mm}:00`;\n};\n\nconst getActivityType = (event) => { \n  const type = (event.type || '').toLowerCase(); \n  const name = (event.name || '').toLowerCase(); \n  if (type.includes('run') || name.includes('course') || name.includes('run')) return 'run'; \n  if (type.includes('ride') || type.includes('bike') || name.includes('velo') || name.includes('cyclisme')) return 'ride'; \n  return 'other'; \n};\n\nconst eventsByDay = {};\nevents.forEach(event => { \n  if (!event.start_date_local) return; \n  const dayOfWeek = getDayOfWeek(event.start_date_local); \n  if (!eventsByDay[dayOfWeek]) eventsByDay[dayOfWeek] = []; \n  eventsByDay[dayOfWeek].push(event); \n});\n\nconst updates = [];\nObject.keys(eventsByDay).forEach(dayOfWeek => { \n  const dayEvents = eventsByDay[dayOfWeek]; \n  const day = parseInt(dayOfWeek); \n  dayEvents.sort((a, b) => (b.moving_time || 0) - (a.moving_time || 0)); \n  \n  dayEvents.forEach((event, index) => { \n    const activityType = getActivityType(event); \n    let newTime; \n    \n    if (day === 1) { \n      if (activityType === 'run') newTime = setTime(event.start_date_local, 12, 0); \n      else if (activityType === 'ride') newTime = setTime(event.start_date_local, 18, 0); \n    } else if (day === 2 || day === 3) { \n      if (index === 0) newTime = setTime(event.start_date_local, 12, 0); \n      else if (index === 1) newTime = setTime(event.start_date_local, 18, 0); \n    } else if (day === 4 || day === 5) { \n      if (activityType === 'run') newTime = setTime(event.start_date_local, 12, 0); \n      else if (activityType === 'ride') newTime = setTime(event.start_date_local, 18, 0); \n    } else if (day === 6 || day === 0) { \n      if (index === 0) newTime = setTime(event.start_date_local, 9, 0); \n      else if (index === 1) newTime = setTime(event.start_date_local, 17, 0); \n    } \n    \n    if (newTime && newTime !== event.start_date_local) {\n      updates.push({ id: event.id, original_time: event.start_date_local, new_time: newTime, activity_type: activityType, day_of_week: day, name: event.name }); \n    }\n  }); \n});\n\nif (updates.length === 0) { return [noUpdatesItem()]; }\nreturn updates.map(update => ({ json: { ...update, has_updates: true } }));"
      },
      "id": "calculate-training-times",
      "name": "Calculate New Training Times",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-updates",
              "leftValue": "={{ $json.has_updates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-updates-needed",
      "name": "Check Updates Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1008,
        496
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://intervals.icu/api/v1/athlete/i55249/events/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YOUR_BASE64_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"start_date_local\": \"{{ $json.new_time }}\" }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "update-training-time",
      "name": "Update Training Time",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        424
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nif (allItems.length === 0) return { json: { training_updates: [], total_updates: 0, message: 'No training schedule updates needed' } };\nconst updates = allItems.map(item => ({ event_id: item.json.id, event_name: item.json.name, original_time: item.json.original_time, new_time: item.json.new_time, activity_type: item.json.activity_type }));\nreturn { json: { training_updates: updates, total_updates: updates.length, message: `Successfully updated ${updates.length} training event(s)` } };"
      },
      "id": "merge-updated-events",
      "name": "Merge & Continue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        424
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://crew:8000/meal-plan-async",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"callback_url\": \"{{ $execution.resumeUrl }}\" }",
        "options": {
          "response": {},
          "timeout": 30000
        }
      },
      "id": "start-async-meal-plan",
      "name": "Start Async Meal Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1680,
        496
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "limitWaitTime": true,
        "limitType": "afterTimeInterval",
        "limitAmount": 30,
        "limitUnit": "minutes",
        "options": {}
      },
      "id": "wait-for-callback",
      "name": "Wait for Meal Plan Callback",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1904,
        496
      ],
      "webhookId": "481ebaba-f683-43a5-9b77-086eee6ab427"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json || {};\n\n// Handle timeout case (Wait node expired without callback)\nconst isTimeout = !result.week_start_date && !result.error;\n\n// Extract daily_plans from meal_plan for iteration\nconst daily_plans = result.meal_plan?.daily_plans || [];\n\nreturn {\n  json: {\n    success: !result.error && !isTimeout,\n    week_start_date: result.week_start_date || 'unknown',\n    total_meals: result.integration?.total_meals_created || 0,\n    summary: result.summary || (isTimeout ? 'Timeout: crew did not respond within 30 minutes' : 'No summary available'),\n    validation_approved: result.validation?.approved || false,\n    shopping_list: result.shopping_list || [],\n    daily_plans: daily_plans,\n    error: isTimeout ? 'Timeout: meal planning did not complete within 30 minutes' : (result.error || null)\n  }\n};"
      },
      "id": "parse-crew-output",
      "name": "Parse Crew Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2352,
        496
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🍽️ *Meal Planning Success!*\n\n✅ Week starting: {{ $json.week_start_date }}\n✅ Meals created: {{ $json.total_meals }}\n✅ Validation: {{ $json.validation_approved ? '✅ Approved' : '⚠️ Needs Review' }}\n\n📋 *Summary:*\n{{ $json.summary }}\n\n🛒 *Shopping List:*\n{{ $json.shopping_list && $json.shopping_list.length > 0 ? '• ' + $json.shopping_list.slice(0, 20).join('\\n• ') : 'No items' }}\n{{ $json.shopping_list && $json.shopping_list.length > 20 ? '\\n_... and ' + ($json.shopping_list.length - 20) + ' more items_' : '' }}\n\n_Generated by CrewAI at {{ $now.toISO() }}_",
        "additionalFields": {
          "disable_notification": false,
          "disable_web_page_preview": false
        }
      },
      "id": "success-notification",
      "name": "Success Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2576,
        208
      ],
      "webhookId": "33b6e0e0-d3a4-48d7-a6c4-3921ceadfda3",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=❌ *Meal Planning Failed*\n\nWeek starting: {{ $json.week_start_date }}\n\n🔴 Error: {{ $json.error || 'Unknown error' }}\n\n📝 Retry manually:\n```\npython crew_mealy.py {{ $json.week_start_date }}\n```\n\n🔍 Check logs for details.\n\n_Failed at {{ $now.toISO() }}_",
        "additionalFields": {
          "disable_notification": false,
          "disable_web_page_preview": true
        }
      },
      "id": "error-notification",
      "name": "Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2576,
        784
      ],
      "webhookId": "5cadddb2-4c47-49eb-8a8f-d4307ad69d96",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log execution details\nconst logEntry = {\n  workflow: 'meal-planning-weekly',\n  execution_id: $execution.id,\n  timestamp: new Date().toISOString(),\n  week_start_date: $json.week_start_date,\n  success: $json.success,\n  total_meals: $json.total_meals,\n  validation_approved: $json.validation_approved,\n  error: $json.error || null\n};\nconsole.log('Meal Planning Execution:', JSON.stringify(logEntry, null, 2));\n\n// Pass through all original data for downstream nodes\nreturn { json: $json };"
      },
      "id": "log-execution-result",
      "name": "Log Execution Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        400
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "daily_plans",
        "include": "allOtherFields"
      },
      "id": "split-out-daily-plans",
      "name": "Split Out Daily Plans",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2576,
        496
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-daily-plans",
      "name": "Loop Daily Plans",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        2576,
        592
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {}
      },
      "id": "send-daily-menu",
      "name": "Send Daily Menu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2800,
        592
      ],
      "webhookId": "fad91094-ff87-40be-9341-c72dca7f6ee3",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger - Sunday 20:00": {
      "main": [
        [
          {
            "node": "Calculate Week Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Week Dates": {
      "main": [
        [
          {
            "node": "Fetch Training Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate New Training Times": {
      "main": [
        [
          {
            "node": "Check Updates Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Updates Needed": {
      "main": [
        [
          {
            "node": "Update Training Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Async Meal Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Training Time": {
      "main": [
        [
          {
            "node": "Merge & Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Continue": {
      "main": [
        [
          {
            "node": "Start Async Meal Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Async Meal Plan": {
      "main": [
        [
          {
            "node": "Wait for Meal Plan Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Meal Plan Callback": {
      "main": [
        [
          {
            "node": "Parse Crew Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Crew Output": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Execution Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Execution Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Execution Result": {
      "main": [
        [
          {
            "node": "Split Out Daily Plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Daily Plans": {
      "main": [
        [
          {
            "node": "Loop Daily Plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Daily Plans": {
      "main": [
        [
          {
            "node": "Send Daily Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Daily Menu": {
      "main": [
        [
          {
            "node": "Loop Daily Plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Training Events": {
      "0": [
        [
          {
            "node": "Calculate New Training Times",
            "type": "0",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "Calculate New Training Times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "63517c22-66e6-40a7-a8ab-08e855acd4ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "089593b0375f52cffd2e682594e43cdd96459883230a04bef809490471c267bb"
  },
  "id": "VSOAzIak3SfoMqVR",
  "tags": [
    {
      "updatedAt": "2025-11-03T21:19:27.932Z",
      "createdAt": "2025-11-03T21:19:27.932Z",
      "id": "SvfwsMIdMU4Mcssi",
      "name": "automation"
    },
    {
      "updatedAt": "2025-11-03T21:19:27.930Z",
      "createdAt": "2025-11-03T21:19:27.930Z",
      "id": "iQ5VAWKF1stNmolK",
      "name": "meal-planning"
    }
  ]
}