n8n/workflows/meal-planning-weekly.json
{
  "id": "MealPlanWeekly2025",
  "name": "Weekly Meal Plan Generator",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "schedule-trigger-sunday-evening",
      "name": "Schedule Trigger - Sunday 20:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 0"
            }
          ]
        },
        "timezone": "Europe/Paris"
      }
    },
    {
      "id": "http-request-meal-plan",
      "name": "HTTP Request - Generate Meal Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 300],
      "parameters": {
        "method": "POST",
        "url": "http://crew:8000/meal-plan",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "response": {
            "responseFormat": "json"
          },
          "timeout": 600000
        }
      }
    },
    {
      "id": "parse-crew-output",
      "name": "Parse Crew Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Extract relevant fields from the HTTP response\nconst result = $input.item.json;\n\nreturn {\n  json: {\n    success: !result.error,\n    week_start_date: result.week_start_date,\n    total_meals: result.integration?.total_meals_created || 0,\n    mealy_url: result.integration?.mealy_week_url || null,\n    summary: result.summary || 'No summary available',\n    validation_approved: result.validation?.approved || false,\n    error: result.error || null\n  }\n};"
      }
    },
    {
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "success-notification-telegram",
      "name": "Success Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1050, 200],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🍽️ *Meal Planning Success!*\n\n✅ Week starting: {{ $json.week_start_date }}\n✅ Meals created: {{ $json.total_meals }}\n✅ Validation: {{ $json.validation_approved ? '✅ Approved' : '⚠️ Needs Review' }}\n\n📋 Summary:\n{{ $json.summary }}\n\n{{ $json.mealy_url ? '🔗 View your meals: ' + $json.mealy_url : '📱 Check Mealy app for your meals' }}\n\n_Generated by CrewAI at {{ $now.toISO() }}_",
        "additionalFields": {
          "parseMode": "Markdown",
          "disable_notification": false,
          "disable_web_page_preview": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "error-notification-telegram",
      "name": "Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1050, 400],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=❌ *Meal Planning Failed*\n\nWeek starting: {{ $json.week_start_date }}\n\n🔴 Error: {{ $json.error || 'Unknown error' }}\n\n📝 Retry manually:\n```\npython crew_mealy.py {{ $json.week_start_date }}\n```\n\n🔍 Check logs for details.\n\n_Failed at {{ $now.toISO() }}_",
        "additionalFields": {
          "parseMode": "Markdown",
          "disable_notification": false,
          "disable_web_page_preview": true
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "log-execution-result",
      "name": "Log Execution Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Log execution details for debugging\nconst result = {\n  workflow: 'meal-planning-weekly',\n  execution_id: $execution.id,\n  timestamp: new Date().toISOString(),\n  week_start_date: $json.week_start_date,\n  success: $json.success,\n  total_meals: $json.total_meals,\n  validation_approved: $json.validation_approved,\n  error: $json.error || null\n};\n\nconsole.log('Meal Planning Execution:', JSON.stringify(result, null, 2));\n\nreturn { json: result };"
      }
    }
  ],
  "connections": {
    "Schedule Trigger - Sunday 20:00": {
      "main": [
        [
          {
            "node": "HTTP Request - Generate Meal Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Generate Meal Plan": {
      "main": [
        [
          {
            "node": "Parse Crew Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Crew Output": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Execution Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Execution Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "meal-planning-system-v1"
  },
  "tags": [
    {
      "createdAt": "2025-01-03T00:00:00.000Z",
      "updatedAt": "2025-01-03T00:00:00.000Z",
      "id": "meal-planning",
      "name": "meal-planning"
    },
    {
      "createdAt": "2025-01-03T00:00:00.000Z",
      "updatedAt": "2025-01-03T00:00:00.000Z",
      "id": "automation",
      "name": "automation"
    }
  ]
}
