n8n/workflows/update-strava-activity-from-interval-icu.json
{
  "name": "Update Strava activity from interval.icu",
  "nodes": [
    {
      "parameters": {
        "event": "create",
        "options": {}
      },
      "type": "n8n-nodes-base.stravaTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        -80
      ],
      "id": "0c4caafa-8e2c-4b19-9c57-ccfbc3ca42e2",
      "name": "Strava Trigger",
      "webhookId": "7b2f4637-2ed0-40de-a481-45f3a4ac2897",
      "credentials": {
        "stravaOAuth2Api": {
          "id": "K3T8baQuxLWmmuhd",
          "name": "Strava account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        140
      ],
      "id": "a1b2c3d4-5e6f-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "resource": "activity",
        "operation": "getAll",
        "returnAll": false,
        "limit": 5
      },
      "type": "n8n-nodes-base.strava",
      "typeVersion": 1.1,
      "position": [
        80,
        140
      ],
      "id": "b2c3d4e5-6f7g-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "Get Recent Activities",
      "credentials": {
        "stravaOAuth2Api": {
          "id": "K3T8baQuxLWmmuhd",
          "name": "Strava account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        140
      ],
      "id": "c3d4e5f6-7g8h-9i0j-1k2l-m3n4o5p6q7r8",
      "name": "Loop Over Activities"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "webhook-format-1",
              "name": "object_type",
              "type": "string",
              "value": "activity"
            },
            {
              "id": "webhook-format-2",
              "name": "object_id",
              "type": "number",
              "value": "={{ $json.id }}"
            },
            {
              "id": "webhook-format-3",
              "name": "object_data",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        140
      ],
      "id": "d4e5f6g7-8h9i-0j1k-2l3m-n4o5p6q7r8s9",
      "name": "Transform to Webhook Format"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://crew:8000/process",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {},
          "timeout": 3600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        -80
      ],
      "id": "8d4efa51-0788-4503-9c37-8cde03ff992f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "activityId": "={{ $json[\"activity_id\"] }}",
        "updateFields": {
          "description": "={{ $json[\"description\"] }}",
          "name": "={{ $json[\"title\"] }}"
        }
      },
      "type": "n8n-nodes-base.strava",
      "typeVersion": 1.1,
      "position": [
        304,
        -80
      ],
      "id": "aed76cd0-6c81-4d28-95a8-19a29d0e5848",
      "name": "Update an activity",
      "credentials": {
        "stravaOAuth2Api": {
          "id": "K3T8baQuxLWmmuhd",
          "name": "Strava account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Strava Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Recent Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Activities": {
      "main": [
        [
          {
            "node": "Loop Over Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Activities": {
      "main": [
        [],
        [
          {
            "node": "Transform to Webhook Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Webhook Format": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update an activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an activity": {
      "main": [
        [
          {
            "node": "Loop Over Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "HuCluxoEh7V3plO5"
  },
  "versionId": "28fc3925-7b36-47c5-b9e2-458f9c498c33",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "089593b0375f52cffd2e682594e43cdd96459883230a04bef809490471c267bb"
  },
  "id": "HuCluxoEh7V3plO5",
  "tags": []
}