n8n/workflows/update-strava-activity-from-interval-icu.json
{
  "name": "Update Strava activity from interval.icu",
  "nodes": [
    {
      "parameters": {
        "event": "create",
        "options": {}
      },
      "type": "n8n-nodes-base.stravaTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        -16
      ],
      "id": "0c4caafa-8e2c-4b19-9c57-ccfbc3ca42e2",
      "name": "Strava Trigger",
      "webhookId": "7b2f4637-2ed0-40de-a481-45f3a4ac2897",
      "credentials": {
        "stravaOAuth2Api": {
          "id": "K3T8baQuxLWmmuhd",
          "name": "Strava account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        336
      ],
      "id": "a1b2c3d4-5e6f-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1
      },
      "type": "n8n-nodes-base.strava",
      "typeVersion": 1.1,
      "position": [
        544,
        240
      ],
      "id": "b2c3d4e5-6f7g-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "Get Recent Activities",
      "credentials": {
        "stravaOAuth2Api": {
          "id": "K3T8baQuxLWmmuhd",
          "name": "Strava account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1216,
        -80
      ],
      "id": "c3d4e5f6-7g8h-9i0j-1k2l-m3n4o5p6q7r8",
      "name": "Loop Over Activities"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "webhook-format-1",
              "name": "object_type",
              "type": "string",
              "value": "activity"
            },
            {
              "id": "webhook-format-2",
              "name": "object_id",
              "type": "number",
              "value": "={{ $json.id }}"
            },
            {
              "id": "webhook-format-3",
              "name": "object_data",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        -16
      ],
      "id": "d4e5f6g7-8h9i-0j1k-2l3m-n4o5p6q7r8s9",
      "name": "Transform to Webhook Format"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://crew:8000/process",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {},
          "timeout": 3600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        -16
      ],
      "id": "8d4efa51-0788-4503-9c37-8cde03ff992f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "activityId": "={{ $json[\"activity_id\"] }}",
        "updateFields": {
          "description": "={{ $json[\"description\"] }}",
          "name": "={{ $json[\"title\"] }}"
        }
      },
      "type": "n8n-nodes-base.strava",
      "typeVersion": 1.1,
      "position": [
        992,
        -80
      ],
      "id": "aed76cd0-6c81-4d28-95a8-19a29d0e5848",
      "name": "Update an activity",
      "credentials": {
        "stravaOAuth2Api": {
          "id": "K3T8baQuxLWmmuhd",
          "name": "Strava account"
        }
      }
    },
    {
      "parameters": {
        "operation": "recentlyPlayed"
      },
      "id": "spotify-recently-played",
      "name": "Get Recently Played",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        96,
        64
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "yiaksNUDI8zRr12v",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {},
      "id": "merge-data",
      "name": "Merge Activity and Spotify",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        320,
        -16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "format-1",
              "name": "object_type",
              "type": "string",
              "value": "activity"
            },
            {
              "id": "format-2",
              "name": "object_id",
              "type": "number",
              "value": "={{ $('Strava Trigger').item.json.object_data.id }}"
            },
            {
              "id": "format-3",
              "name": "object_data",
              "type": "object",
              "value": "={{ $('Strava Trigger').item.json.object_data }}"
            },
            {
              "id": "format-4",
              "name": "spotify_recently_played",
              "type": "object",
              "value": "={{ $if($('Get Recently Played').isExecuted, { items: $('Get Recently Played').all() }, { items: [] }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-data",
      "name": "Format Data for CrewAI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "recentlyPlayed"
      },
      "id": "spotify-manual",
      "name": "Get Recently Played - Manual",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        544,
        432
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "yiaksNUDI8zRr12v",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {},
      "id": "merge-manual",
      "name": "Merge Manual Activity and Spotify",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        768,
        336
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "manual-format-1",
              "name": "object_type",
              "type": "string",
              "value": "activity"
            },
            {
              "id": "manual-format-2",
              "name": "object_id",
              "type": "number",
              "value": "={{ $json.id }}"
            },
            {
              "id": "manual-format-3",
              "name": "object_data",
              "type": "object",
              "value": "={{ $json }}"
            },
            {
              "id": "manual-format-4",
              "name": "spotify_recently_played",
              "type": "object",
              "value": "={{ $if($('Get Recently Played - Manual').isExecuted, { items: $('Get Recently Played - Manual').all() }, { items: [] }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-manual",
      "name": "Format Manual Data for CrewAI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://crew:8000/process",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {},
          "timeout": 3600000
        }
      },
      "id": "2c796fff-eed5-47c1-84cf-921a2aada37a",
      "name": "HTTP Request - Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "activityId": "={{ $json[\"activity_id\"] }}",
        "updateFields": {
          "description": "={{ $json[\"description\"] }}",
          "name": "={{ $json[\"title\"] }}"
        }
      },
      "id": "d1219476-aab1-44d6-bf44-3e9661cd6500",
      "name": "Update Activity - Webhook",
      "type": "n8n-nodes-base.strava",
      "typeVersion": 1.1,
      "position": [
        992,
        -240
      ],
      "credentials": {
        "stravaOAuth2Api": {
          "id": "K3T8baQuxLWmmuhd",
          "name": "Strava account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Strava Trigger": {
      "main": [
        [
          {
            "node": "Get Recently Played",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Activity and Spotify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Recent Activities",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Recently Played - Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Activities": {
      "main": [
        [],
        [
          {
            "node": "Transform to Webhook Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Webhook Format": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update an activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recently Played": {
      "main": [
        [
          {
            "node": "Merge Activity and Spotify",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Activity and Spotify": {
      "main": [
        [
          {
            "node": "Format Data for CrewAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recently Played - Manual": {
      "main": [
        [
          {
            "node": "Merge Manual Activity and Spotify",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Recent Activities": {
      "main": [
        [
          {
            "node": "Merge Manual Activity and Spotify",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Manual Activity and Spotify": {
      "main": [
        [
          {
            "node": "Format Manual Data for CrewAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Manual Data for CrewAI": {
      "main": [
        [
          {
            "node": "Loop Over Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an activity": {
      "main": [
        [
          {
            "node": "Loop Over Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data for CrewAI": {
      "main": [
        [
          {
            "node": "HTTP Request - Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Webhook": {
      "main": [
        [
          {
            "node": "Update Activity - Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "errorWorkflow": "HuCluxoEh7V3plO5",
    "timezone": "Europe/Paris",
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "84866546-c63b-43a3-885e-e03461483a2a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "089593b0375f52cffd2e682594e43cdd96459883230a04bef809490471c267bb"
  },
  "id": "HuCluxoEh7V3plO5",
  "tags": []
}